*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    height: 100vh;
    background: black;
}

.content
{
    width: 90vw;
    height: 90vh;
    background-image: url(./images/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: top; */
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
    top: 50px;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr; */
}

.logo,
.text,
.reservation-box
{
    width: 500px;
    margin: 0 auto; 
    text-align: center;
    position: relative;
}

.logo
{
    height: 200px;
    background-image: url(./images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    top: 15px;
}

.text
{
    background-image: url(./images/transparent_white.png);
    background-size: cover;
    top: 30px;
    border: 5px solid black;
}

.text h1,
.reservation-box h2
{
    font-weight: 300;
}

.reservation-box p
{
    margin: 20px 0;
}

.reservation-box
{
    height: 50%;
    background-image: url(./images/transparent_white.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 10px;
    top: 50px;
}

label
{
    width: 50%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    display: block;
    text-align: left;
    background-color: #404040;
    color: white;
    padding: 5px;
    margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=date],
input[type=submit]
{
    width: 50%;
    font-style: italic;
    padding: 10px;
    position: relative;
    top: -20px;
    border: none;
}

input[type=submit]
{
    background-color: #404040;
    color: white;
    cursor: pointer;
}

.footer
{
    height: 10%;
    color: rgba(255, 255, 255, 0.45);
    text-align: center;
    position: relative;
    bottom: -80px;
}

